rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow list: if resourceMatchesUID();
    }

    match /sessionPasswords/{password} {
      allow get: if true;
      allow list: if resourceMatchesUID();

      allow create: if requestMatchesUID();
      allow delete: if resourceMatchesUID();
      allow update: if canConsumePassword();
    }

    match /sessions/{deviceId} {
      allow get: if true;
      allow list: if resourceMatchesUID();

      allow delete: if resourceMatchesUID();
    }

    match /cashiers/{cashierId} {
      allow get: if true;
      allow list: if true;

      allow write: if requestMatchesUID();
    }

    match /prompts/{cashierId} {
      allow get: if true;
      allow list: if true;

      allow write: if requestMatchesUID();
    }




    function requestMatchesUID() {
      return request.auth.uid == request.resource.data.uid;
    }

    function resourceMatchesUID() {
      return request.auth.uid == resource.data.uid;
    }

    function canConsumePassword() {
      let deviceId = request.resource.data.deviceId;
      let isDeviceConnected = exists(/databases/$(database)/documents/sessions/$(deviceId));

      let requestHasDeviceId = ('deviceId' in request.resource.data);
      let resourceHasDeviceId = ('deviceId' in resource.data);

      return (!isDeviceConnected && requestHasDeviceId && !resourceHasDeviceId);
    }
  }
}
