rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{user} {
      allow get, update : if user == request.auth.uid
    }

    match /sessions/{session} {
      allow list, delete: if resource.data.userId == request.auth.uid
      allow create: if request.resource.data.userId == request.auth.uid

      // Allows the iOS device to write its ID on a non-activated session.
      allow get: if true;
      allow update: if !("deviceId" in resource.data)
    }

  }
}
